/*ESTILOS SOBRE LA PAGINA WEB HTML*/

*{
    margin: 0;
}
body{
    background-color: darkslategray;
}
p {
    color: azure;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3em;
    color: rgb(29, 25, 25);
    text-decoration-line:underline ;
    text-decoration-color: rgb(63, 65, 65);
    border: 1px salmon;
    padding: 11px;
    background-color: rgb(219, 73, 197);
    border-radius: 1em;
    
}
h3 {
    color: aquamarine;
}
a {
    color: cadetblue;
}
#encabezado {
    background-color:rgb(5, 52, 36);
    padding: 1em;
   text-indent: 40em;
    
}
#catalogo{
   padding:1em;
   

}
.producto{
    font-family: sans-serif;
    border-color: aquamarine;
   border-style: solid;
   border-radius: 1em;
   padding: 1em;
}
.boton{
    text-indent: 40px;
    font-size:1.5em;
    
    color: beige;
    border: 15px salmon;
    padding: 0.5em;
    background-color: rgb(179, 145, 141);
    border-radius: 1em;
   
}

#encabezado > img{
    display: block;
    position: relative;
    width: 800px;
    left: 400px;
}




